%header
 %div#logo
 %h1.title Show Route

= javascript_include_tag 'https://www.google.com/jsapi'
:javascript
  google.load('visualization', '1', {packages: ['corechart']});



%section#middle

 %p=@general_route.name
 %p=@id.name
 %p= link_to 'Back to route: '+@general_route.name, general_route_path(@general_route)

 .map
  %div#map
  %input#gps{:type => "hidden", :value => @gps.to_json}

.container
 %div#container
 %input#passengers{:type => "hidden", :value => @passengers.to_json}

 %input#array{:type => "hidden", :value => @array}

%h2.title Route Name: #{@id.name}



= javascript_include_tag '/assets/maps/OpenLayers'
= javascript_include_tag '/assets/maps/locations'
= javascript_include_tag '/assets/charts/charts'

:javascript
  initMap($("#gps").val());
  drawVisualization($("#passengers").val(),$("#container").val(),$("#array").val());


