%header
 %div#logo
 %h1.title Show Route

= javascript_include_tag 'https://www.google.com/jsapi'
:javascript
  google.load('visualization', '1', {packages: ['corechart']});



%section#middle

 %h2="Route Name: " + @general_route.name
 %h3=@id.name
 %h4= "Route Duration: " + @duration
 %p= link_to 'Back to route: '+@general_route.name, general_route_path(@general_route)

 .map
  %div#map
  %input#gps{:type => "hidden", :value => @gps_array2.to_json}
  %input#gps_all{:type => "hidden", :value => @gps_all.to_json}

.container
 %div#container
 %input#passengers{:type => "hidden", :value => @passengers.to_json}

 %input#array{:type => "hidden", :value => @array}
 %input#bus_size{:type => "hidden", :value => @bus_size}

-#%p=@duration
-#
-#%p=@gps
-#
-#%p=@gps_array
-#
-#%p=@gps_array2

= javascript_include_tag '/assets/maps/OpenLayers'
= javascript_include_tag '/assets/maps/locations'
= javascript_include_tag '/assets/charts/charts'

:javascript
  initMap($("#gps").val(),$("#gps_all").val());
  drawVisualization($("#bus_size").val(),$("#container").val(),$("#array").val());


