%header
 %h1.title Upload File
 %li
  %img(src="../assets/images/logo1.png")


= form_tag routes_upload_path, :method => :post, :enctype=>"multipart/form-data" do
 = file_field_tag :file
 = submit_tag 'Upload'



-if !@file.nil?
 %table#table
  %thead
   %tr
    %th Name
   %tbody
   - @routes.each do |a|
    %tr
     %td= a.name

%p= link_to 'Back to Routes list', routes_path

%p= @NfcRoute.to_a



